@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');

:root {
  --color-primary: #FFFFFF;
  --color-accent-primary: #1E7CBC;
  --color-accent-secondary: #1E7CBCC0;
  --background-color: #F5F5F7;
  --text-color-primary: #1D1D1F;
  --text-color-secondary: #6E6E73;
  --text-color-high-contrast: #FFFFFF;
  --text-size-big: 1.5rem;
  --text-size-medium: 1.15rem;
  --text-size-normal: 1rem;
  --text-weight-bold: 800;
  --text-weight-medium: 600;
  --text-weight-normal: 400;
  --border-color-primary: #E0E0E0;
  --top-bar-height: 3.4rem;
  --top-bar-inner-margin: calc(var(--top-bar-height) / 8);
  --side-nav-width: 28%;
  --side-nav-min-width: 260px;
  --side-nav-max-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', Arial, sans-serif;
  font-size: var(--text-size-normal);
  font-weight: var(--text-weight-normal);
  word-break: break-word;
  hyphens: manual;
  color: var(--text-color-secondary);
}

html, body {
  background-color: var(--background-color);
  height: 100%;
  overflow: hidden;
}

a {
  color: var(--text-color-secondary);
  text-decoration: none;
}

.top-bar-content {
  background-color: var(--color-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: var(--top-bar-height);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.top-bar-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  height: 100%;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: var(--side-nav-width);
  min-width: var(--side-nav-min-width);
  max-width: var(--side-nav-max-width);
  padding: var(--top-bar-inner-margin);
}

.logo-name img {
  height: 100%;
  width: auto;
}

.logo-name h1 {
  padding: 0 0 0 calc(var(--top-bar-inner-margin) * 2);
  font-size: var(--text-size-big);
  font-weight: var(--text-weight-medium);
  background: var(--color-accent-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  border-right: 1px solid var(--border-color-primary);
  margin: var(--top-bar-inner-margin) 0;
  padding: 0 var(--top-bar-inner-margin);
  border-left: 1px solid var(--border-color-primary);
  border-right: 1px solid var(--border-color-primary);
}

.search form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  margin: 0 calc(var(--top-bar-inner-margin) * 2) 0 var(--top-bar-inner-margin);
}

.search input {
  width: 100%;
  align-self: center;
  margin:  0 calc(var(--top-bar-inner-margin) * 2);
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.top-bar-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 calc(var(--top-bar-inner-margin) * 2)
}

.top-bar-login p, .top-bar-login p i {
  color: var(--text-color-primary);
  white-space: nowrap;
}

.login-form {
  position: absolute;
  top: var(--top-bar-height);
  right: 0;
  z-index: 10;
}

.main-area-wrapper {
  margin-top: var(--top-bar-height);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100% - var(--top-bar-height));
}

.nav-side-bar {
  top: var(--top-bar-height);
  left: 0;
  bottom: 0;
  min-width: var(--side-nav-min-width);
  max-width: var(--side-nav-max-width);
  flex-basis: var(--side-nav-width);
  background-color: var(--color-primary);
  z-index: 9;
  padding: var(--top-bar-inner-margin);
}

.nav-side-bar a {
  display: block;
  transition: background-color 0.2s ease-in-out;
  font-size: var(--text-size-medium);
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 0.5rem 0.25rem;
}

.nav-side-bar a:hover, .nav-side-bar a:focus, .nav-side-bar a:active {
  background-color: var(--background-color);
}

.nav-side-bar a i {
  font-size: inherit;
  color: inherit;
  margin-right: 0.8rem;
}

.nav-side-bar a.highlight {
  background-color: var(--color-accent-secondary);
  color: var(--text-color-high-contrast);
}

.main-content-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
}

/* Normalize */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}