.table-row-element:first-child {
  flex: 1.6 1.6 0;
}

.page-content > h1 {
  margin-bottom: 0;
}

.page-content > h3 {
  margin: 0 0 1rem 0.1rem;
}

/* Media Queries */
@media screen and (max-width: 750px) {
  .view-more-button {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .table-row-element:nth-child(n+3) {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .general-info-area div:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .filter-box-item:nth-child(n+3) {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .table-row-element i  {
    display: none;
  }
}