.table-row-element:first-child {
  flex: 1 1 0;
}

.page-content > h1 {
  margin-bottom: 0;
}

.page-content > h3 {
  margin: 0 0 1rem 0.1rem;
}

/* Media Queries */
@media screen and (max-width: 620px) {
  .general-info-area {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .view-more-button {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .general-info-area div:not(:first-child) {
    display: none;
  }

  .table-row-element:nth-child(n+3) {
    display: none;
  }
}