{% load static %}
<h1>{{ device_data.name }}</h1>
<div class="general-info-area">
    <div class="general-info-box">
        <h3>Standort des Gerätes</h3>
        <h2 class="number-of-devices">Raum {{ device_data.room__name }}</h2>
    </div>
</div>
{% if device_data.description %}
    <h3 class="subheader">Beschreibung</h3>
    <h3>{{ device_data.description }}</h3>
{% endif %}
<div class="table">
    <div class="table-head">
        <div class="table-row">
            <div class="table-row-element table-element-1">Geräte&shy;eigenschaften</div>
        </div>
    </div>
    <div class="table-body">
        <div class="table-row">
            <div class="table-row-element table-element-1">Geräte&shy;kategorie</div>
            <div class="table-row-element table-element-2">{% if device_data.device_category__icon %}<i class="{{ device_data.device_category__icon }}"></i>{% endif %}{{ device_data.device_category__name }}</div>
        </div>
        <div class="table-row">
            <div class="table-row-element table-element-1">Aktueller Status</div>
            <div class="table-row-element table-element-2">{{ device_data.status_label }}</div>
        </div>
        <div class="table-row">
            <div class="table-row-element table-element-1">Hersteller</div>
            <div class="table-row-element table-element-2">{% if device_data.device_manufacturer__name %}{{ device_data.device_manufacturer__name }}{% else %}Unbekannt{% endif %}</div>
        </div>
        <div class="table-row">
            <div class="table-row-element table-element-1">Anschaffungs&shy;datum</div>
            <div class="table-row-element table-element-2">{% if device_data.purchase_data %}{{ device_data.purchase_data }}{% else %}Unbekannt{% endif %}</div>
        </div>
        <div class="table-row">
            <div class="table-row-element table-element-1">Garantie&shy;zeit vom Anschaffungs&shy;datum</div>
            <div class="table-row-element table-element-2">{% if device_data.warranty_period_years or device_data.warranty_period_months %}{% if device_data.warranty_period_years %}{{ device_data.warranty_period_years }} Jahre{% endif %}{% if device_data.warranty_period_months %}{% if device_data.warranty_period_years %}, {{ device_data.warranty_period_months }} Monate{% else %}{{ device_data.warranty_period_months }} Monate{% endif %}{% endif %}{% else %}Unbekannt{% endif %}</div>
        </div>
        <div class="table-row">
            <div class="table-row-element table-element-1">Serien&shy;nummer</div>
            <div class="table-row-element table-element-2">{% if device_data.serial_number %}{{ device_data.serial_number }}{% else %}Unbekannt{% endif %}</div>
        </div>
        <div class="table-row">
            <div class="table-row-element table-element-1">Preis</div>
            <div class="table-row-element table-element-2">{% if device_data.price %}{{ device_data.price }} €{% else %}Unbekannt{% endif %}</div>
        </div>
    </div>
</div>
{% if perms.inventory_management.add_ticket or tickets_data %}
<h2>Tickets zu diesem Gerät</h2>
<div class="ticket-boxes-area">
    {% if perms.inventory_management.add_ticket %}
        <div class="ticket-box create-new-ticket" tabindex="0" onclick="loadAjaxContent('{% url 'create-new-ticket' %}?device-id={{ device_data.id }}')">
            <div class="plus-icon">
                <i class="bi bi-plus-lg"></i>
            </div>
            <h3>Neues Ticket erstellen</h3>
        </div>
    {% endif %}
    {% for ticket in tickets_data %}
        <div class="ticket-box created-ticket" tabindex="0" onclick="loadAjaxContent('{% url 'ticket-management' %}ticket-{{ ticket.id }}/')">
            <div class="ticket-box-header">
                <h3>{{ ticket.status_label }}</h3>
                <h2>{{ ticket.title }}</h2>
                <p>{{ ticket.description }}</p>
            </div>
            <div class="ticket-box-footer">
                <img class="ticket-box-footer-element" src="{% if ticket.created_by__profile_image_url %}{{ ticket.created_by__profile_image_url }}{% endif %}" onerror="this.src='{% static 'images/generic_user_icon.webp' %}'" alt="Profilbild" width="192" height="192">
                <div class="ticket-box-footer-element creation-details">
                    <p>{{ ticket.created_by__first_name }} {{ ticket.created_by__last_name }}</p>
                    {% if user.use_12_hour_time_format %}<p>{{ticket.created_at|date:'j. F Y'}}, {{ ticket.created_at|time:"h:i a" }}</p>{% else %}<p>{{ticket.created_at|date:'j. F Y'}}, {{ ticket.created_at|time:"H:i" }}</p>{% endif %}
                </div>
                <div class="ticket-box-footer-element view-more-button">Details</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
<script>
    document.title ='{{ device_data.name }} – SZUT Inventur Management';
    $('head').append('<link rel="stylesheet" id="custom-css" href="{% static 'css/device-details.css' %}" />');
</script>