{% load static %}
{% load check_include_template %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SZUT Inventur Management</title>
    <link rel="icon" href="{% static 'images/szut-logo.jpg' %}" type="image/jpg" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <nav class="global-nav">
        <div class="top-bar-content">
            <ul class="top-bar-header">
                <li class="logo-name">
                    <img src="{% static 'images/szut-logo.jpg' %}" alt="logo">
                    <p>SZUT Inventur Management</p>
                </li>
                <li class="search">
                    <form action="">
                        <input type="text" name="search" placeholder="Suche nach Räumen, Geräten und Tickets ...">
                    </form>
                </li>
                <li class="login">
                    <p>Anmelden<i class="bi bi-chevron-compact-down"></i></p>
                    <form action="../login/" method="post">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Benutzername">
                        <input type="password" name="password" placeholder="Passwort">
                        <input type="submit" value="Login">
                    </form>
                </li>
            </ul>
        </div>
        <div class="nav-side-bar">
            <ul>
                <li><a href="../overview/" onclick="loadAjaxContent('overview');return false">Übersicht</a></li>
                <li><a href="../rooms/" onclick="loadAjaxContent('rooms');return false">Räume</a></li>
                <li><a href="../devices/" onclick="loadAjaxContent('devices');return false">Geräte</a></li>
                <li><a href="../ticket-management/" onclick="loadAjaxContent('ticket-management');return false">Ticket-System</a></li>
            </ul>
        </div>
    </nav>
    <div id="load-content-error" style="display: none;">
        <p>Ein Fehler ist aufgetreten!</p>
    </div>
    <!-- Reserved section -->
    <main id="page-content" class="page-content">
        {% if current_page_file|template_exists %}{% include current_page_file %}{% else %}<script>loadContentError();</script>{% endif %}
    </main>
</body>
</html>