{% load static %}
<h1>Raum {{ room_name }}</h1>
<h3>{{ room_data.floor__name }}, {{ room_data.building_section__name }}</h3>
<div class="filter-box">
    <div class="filter-box-item">
        <select id="status-filter" onchange="filterRooms()">
            <option value="all">Jeden Status</option>
            {% for status in devices_statuses_data %}
                <option value="device-status-id-{{ status.id }}">{{ status.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="filter-box-item">
        <select id="device-categories-filter" onchange="filterRooms()">
            <option value="all">Alle Gerätekategorien</option>
            {% for device_category in device_categories_data %}
                <option value="device-category-id-{{ device_category.id }}">{{ device_category.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="general-info-area">
    <div class="general-info-box">
        <h3>Anzahl an Geräten</h3>
        <h2 class="number-of-devices">0</h2>
    </div>
    <div class="general-info-box">
        <h3>Anzahl an Gerätekategorien</h3>
        <h2 class="number-of-device-categories">0</h2>
    </div>
</div>
<div class="table table-preload">
    <div class="table-head">
        <div class="table-row">
            <div class="table-row-element table-element-1">Geräte&shy;kategorie</div>
            <div class="table-row-element table-element-2">Name</div>
            <div class="table-row-element table-element-3">Status</div>
            <div class="table-row-element table-view-more-button" style="visibility: hidden;">Details</div>
        </div>
    </div>
    <div class="table-body">
        {% if devices_data %}
            {% for device in devices_data %}
            <div class="table-row table-row-link device-category-id-{{ device.device_category__id }} device-status-id-{{ device.status }}" tabindex="0" onclick="loadAjaxContent('{% url 'devices' %}device-{{ device.id }}/')">
                <div class="table-row-element table-element-1">{% if device.device_category__icon %}<i class="{{ device.device_category__icon }}"></i>{% endif %}{{ device.device_category__name }}</div>
                <div class="table-row-element table-element-2">{{ device.name }}</div>
                <div class="table-row-element table-element-3">{{ device.status_label }}</div>
                <div class="table-row-element table-view-more-button">Details</div>
            </div>
            {% endfor %}
            <div class="table-row table-row-no-matches" style="display: none;">
                <div class="table-row-element table-element-1">Keine Geräte vorhanden</div>
                <div class="table-row-element table-view-more-button" style="visibility: hidden;">Details</div>
            </div>
        {% else %}
            <div class="table-row table-row-no-matches">
                <div class="table-row-element table-element-1">Keine Geräte vorhanden</div>
                <div class="table-row-element table-view-more-button" style="visibility: hidden;">Details</div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    document.title ='Raum {{ room_name }} – SZUT Inventur Management';
    $('head').append('<link rel="stylesheet" id="custom-css" href="{% static 'css/room-details.css' %}" />');

    filterRooms();

    function styleTable() {
        $('.table-body .table-row').each(function() {
            $(this).removeClass('table-first-row table-last-row table-row-accent-color');
        });
        $('.table-body .table-row:visible:first').addClass('table-first-row');
        $('.table-body .table-row:visible:last').addClass('table-last-row');
        $('.table-body .table-row:visible:odd').addClass('table-row-accent-color');
    }

    function filterRooms() {
        let status = $('#status-filter').val();
        let device_category = $('#device-categories-filter').val();
        let matches = 0;

        if (status === 'all') {
            status = 'table-row';
        }

        if (device_category === 'all') {
            device_category = 'table-row';
            $('.number-of-device-categories').text($('#device-categories-filter option').length - 1);
        } else {
            $('.number-of-device-categories').text('1');
        }

        $('.table-body .table-row').each(function() {
            if ($(this).hasClass(status) && $(this).hasClass(device_category) && !$(this).hasClass('table-row-no-matches')) {
                $(this).show();
                matches++;
            } else {
                $(this).hide();
            }
        });

        if (matches === 0) {
            $('.table-body .table-row-no-matches').show();
        } else {
            $('.table-body .table-row-no-matches').hide();
        }
        $('.number-of-devices').text(matches);
        styleTable();
    }

    $(document).ready(function() {
        $('.table').removeClass('table-preload');
    });
</script>