{% load static %}
<h1>Räume</h1>
{% if number_of_filters_applied > 0 %}<h3>{{ number_of_filters_applied }} Filter angewendet</h3>{% else %}<h3>Keine Filter angewendet</h3>{% endif %}
<div class="filter-box">
    <div class="filter-box-item">
        <select id="floor-filter" onchange="applyFilter()">
            <option value="all">Alle Etagen</option>
            {% for floor in floors %}
                <option value="floor-id-{{ floor.id }}">{{ floor.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="filter-box-item">
        <select id="building-section-filter" onchange="applyFilter()">
            <option value="all">Alle Bauabschnitte</option>
            {% for building_section in building_sections %}
                <option value="building-section-id-{{ building_section.id }}">{{ building_section.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="general-info-area">
    <div class="general-info-box">
        <h3>Anzahl an Räumen</h3>
        <h2 class="number-of-rooms">{{ unique_rooms_count }}</h2>
    </div>
    <div class="general-info-box">
        <h3>Anzahl an Etagen</h3>
        <h2 class="number-of-floors">{{ unique_floors_count }}</h2>
    </div>
    <div class="general-info-box">
        <h3>Anzahl an Bauabschnitten</h3>
        <h2 class="number-of-building-sections">{{ unique_building_sections_count }}</h2>
    </div>
</div>
<div class="table table-preload">
    <div class="table-head">
        <div class="table-row">
            <div class="table-row-element table-element-1">Name</div>
            <div class="table-row-element table-element-2">Etage</div>
            <div class="table-row-element table-element-3">Bau&shy;abschnitt</div>
            <div class="table-row-element view-more-button" style="visibility: hidden;">Details</div>
        </div>
    </div>
    <div class="table-body">
        {% if rooms %}
            {% for room in rooms %}
            <div class="table-row table-row-link" tabindex="0" onclick="loadAjaxContent('{% url 'rooms' %}{{ room.name }}/')">
                <div class="table-row-element table-element-1">{{ room.name }}</div>
                <div class="table-row-element table-element-2">{{ room.floor__name }}</div>
                <div class="table-row-element table-element-3">{{ room.building_section__name }}</div>
                <div class="table-row-element view-more-button">Details</div>
            </div>
            {% endfor %}
        {% else %}
            <div class="table-row table-row-no-matches">
                <div class="table-row-element table-element-1">Keine Räume vorhanden</div>
                <div class="table-row-element view-more-button" style="visibility: hidden;">Details</div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    document.title ='Räume – SZUT Inventur Management';
    $('head').append('<link rel="stylesheet" id="custom-css" href="{% static 'css/rooms.css' %}" />');

    $(document).ready(function() {
        filter_url_parts = location.search.substring(1).split('&');
        for (var i = 0; i < filter_url_parts.length; i++) {
            var filter_value_parts = filter_url_parts[i].split('=');
            if (filter_value_parts[0]) {
                $('#' + filter_value_parts[0]).val(filter_value_parts[1]);
            }
        }
    });
</script>