{% load static %}
<h1>Ticket-System</h1>
<div class="general-info-area">
    <div class="general-info-box">
        <h3>Anzahl an Tickets</h3>
        <h2 class="number-of-devices">{{ unique_tickets_count }}</h2>
    </div>
    <div class="general-info-box">
        <h3>Anzahl an offenen Tickets</h3>
        <h2 class="number-of-device-categories">{{ unique_open_tickets_count }}</h2>
    </div>
    <div class="general-info-box">
        <h3>Anzahl an geschlossenen Tickets</h3>
        <h2 class="number-of-device-categories">{{ unique_closed_tickets_count }}</h2>
    </div>
</div>
{% if user.is_authenticated %}
    {% if not perms.inventory_management.add_ticket %}
        <h2>Meine Tickets</h2>
        <h3>Du hast nicht die Berechtigung neue Tickets zu erstellen.</h3>
    {% else %}
        <h2>Meine Tickets</h2>
    {% endif %}
    {% if perms.inventory_management.add_ticket and my_tickets_len %}
        <div class="ticket-boxes-area">
            {% for my_ticket in tickets_data %}
                {% if my_ticket.created_by__id == user.id %}
                    <div class="ticket-box created-ticket" tabindex="0" onclick="loadAjaxContent('{% url 'ticket-management' %}ticket-{{ my_ticket.id }}/')">
                        <div class="ticket-box-header">
                            <h3>{{ my_ticket.status_label }}</h3>
                            <h2>{{ my_ticket.title }}</h2>
                            <p>{{ my_ticket.description }}</p>
                        </div>
                        <div class="ticket-box-footer">
                            <img class="ticket-box-footer-element" src="{% if my_ticket.created_by__profile_image_url %}{{ my_ticket.created_by__profile_image_url }}{% endif %}" onerror="this.src='{% static 'images/generic_user_icon.webp' %}'" alt="Profilbild" width="192" height="192">
                            <div class="ticket-box-footer-element creation-details">
                                <p>{{ my_ticket.created_by__first_name }} {{ my_ticket.created_by__last_name }}</p>
                                {% if user.use_12_hour_time_format %}<p>{{my_ticket.created_at|date:'j. F Y'}}, {{ my_ticket.created_at|time:"h:i a" }}</p>{% else %}<p>{{my_ticket.created_at|date:'j. F Y'}}, {{ my_ticket.created_at|time:"H:i" }}</p>{% endif %}
                            </div>
                            <div class="ticket-box-footer-element view-more-button">Details</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% elif perms.inventory_management.add_ticket and not my_tickets_len %}
        <h3>Du hast noch keine Tickets erstellt.</h3>
    {% endif %}
{% endif %}
{% if unique_open_tickets_count %}
    <h2>Offene Tickets</h2>
    <div class="ticket-boxes-area">
        {% for my_ticket in tickets_data %}
            {% if my_ticket.status == 1 %}
                <div class="ticket-box created-ticket" tabindex="0" onclick="loadAjaxContent('{% url 'ticket-management' %}ticket-{{ my_ticket.id }}/')">
                    <div class="ticket-box-header">
                        <h3>{{ my_ticket.status_label }}</h3>
                        <h2>{{ my_ticket.title }}</h2>
                        <p>{{ my_ticket.description }}</p>
                    </div>
                    <div class="ticket-box-footer">
                        <img class="ticket-box-footer-element" src="{% if my_ticket.created_by__profile_image_url %}{{ my_ticket.created_by__profile_image_url }}{% endif %}" onerror="this.src='{% static 'images/generic_user_icon.webp' %}'" alt="Profilbild" width="192" height="192">
                        <div class="ticket-box-footer-element creation-details">
                            <p>{{ my_ticket.created_by__first_name }} {{ my_ticket.created_by__last_name }}</p>
                            {% if user.use_12_hour_time_format %}<p>{{my_ticket.created_at|date:'j. F Y'}}, {{ my_ticket.created_at|time:"h:i a" }}</p>{% else %}<p>{{my_ticket.created_at|date:'j. F Y'}}, {{ my_ticket.created_at|time:"H:i" }}</p>{% endif %}
                        </div>
                        <div class="ticket-box-footer-element view-more-button">Details</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
</div>
{% else %}
    <h2>Offene Tickets</h2>
    <div class="ticket-boxes-area no-tickets">
        <h3>Keine offenen Tickets vorhanden.</h3>
    </div>
{% endif %}
{% if unique_closed_tickets_count %}
    <h2>Geschlossene Tickets</h2>
    <div class="ticket-boxes-area">
         {% for my_ticket in tickets_data %}
            {% if my_ticket.status == 0 %}
                <div class="ticket-box created-ticket" tabindex="0" onclick="loadAjaxContent('{% url 'ticket-management' %}ticket-{{ my_ticket.id }}/')">
                    <div class="ticket-box-header">
                        <h3>{{ my_ticket.status_label }}</h3>
                        <h2>{{ my_ticket.title }}</h2>
                        <p>{{ my_ticket.description }}</p>
                    </div>
                    <div class="ticket-box-footer">
                        <img class="ticket-box-footer-element" src="{% if my_ticket.created_by__profile_image_url %}{{ my_ticket.created_by__profile_image_url }}{% endif %}" onerror="this.src='{% static 'images/generic_user_icon.webp' %}'" alt="Profilbild" width="192" height="192">
                        <div class="ticket-box-footer-element creation-details">
                            <p>{{ my_ticket.created_by__first_name }} {{ my_ticket.created_by__last_name }}</p>
                            {% if user.use_12_hour_time_format %}<p>{{my_ticket.created_at|date:'j. F Y'}}, {{ my_ticket.created_at|time:"h:i a" }}</p>{% else %}<p>{{my_ticket.created_at|date:'j. F Y'}}, {{ my_ticket.created_at|time:"H:i" }}</p>{% endif %}
                        </div>
                        <div class="ticket-box-footer-element view-more-button">Details</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <h2>Geschlossene Tickets</h2>
    <div class="ticket-boxes-area no-tickets">
        <h3>Keine geschlossenen Tickets vorhanden.</h3>
    </div>
{% endif %}
<script>
    document.title ='Ticket-System – SZUT Inventur Management';
    $('head').append('<link rel="stylesheet" id="custom-css" href="{% static 'css/ticket-management.css' %}" />');
</script>
